<h3>Satellite Counts:</h3>
<div class="counts">
   <div>Total: <span>{{satellites.length}}</span></div>
   <div>Space Debris: <span>{{numberOfType("Space Debris")}}</span></div>
   <div>Communication: <span>{{numberOfType("Communication")}}</span></div>
   <div>Probe: <span>{{numberOfType("Probe")}}</span></div>
   <div>Positioning: <span>{{numberOfType("Positioning")}}</span></div>
   <div>Space Station: <span>{{numberOfType("Space Station")}}</span></div>
   <div>Telescope: <span>{{numberOfType("Telescope")}}</span></div>
</div>